PORT=8080
DATABASE_URL=postgres://hexagonal_template:secret@localhost:5432/hexagonal_template
API_DOCS_ENABLED=true
LOG_LEVEL=debug

OTEL_SERVICE_NAME=nestjs-hexagonal-template
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=none
